In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('supermarket_data.csv')

In [3]:
df

,Unnamed: 0,Организация,ВремяЧека,НомерЧека,НомерКассы,НомерТранзакции,Кассир,НомерАртикула,Товар,Количество,Сумма (руб),Скидка (%)
0,0,"Супермаркет ""РосМаг""",2024-01-01,102935,4,T002935,Белозеров Порфирий Гавриилович,2009,Сок апельсиновый,1,98.23,0
1,1,"Супермаркет ""РосМаг""",2024-01-01,102935,4,T002935,Белозеров Порфирий Гавриилович,2005,Сыр 'Российский',1,283.51,0
2,2,"Супермаркет ""РосМаг""",2024-01-01,109982,3,T009982,Кира Кузьминична Никитина,2001,Молоко 'Домик в деревне',1,50.50,15
3,3,"Супермаркет ""РосМаг""",2024-01-01,109982,3,T009982,Кира Кузьминична Никитина,2003,Яблоки 'Белый налив',1,66.50,0
4,4,"Супермаркет ""РосМаг""",2024-01-01,106511,4,T006511,Громов Василий Фокич,2012,Картофель,7,310.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29786,29786,"Супермаркет ""РосМаг""",2024-12-31,100269,5,T000269,Таисия Юрьевна Исаева,2005,Сыр 'Российский',2,608.22,0
29787,29787,"Супермаркет ""РосМаг""",2024-12-31,100269,5,T000269,Таисия Юрьевна Исаева,2012,Картофель,7,278.04,0
29788,29788,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,2008,Чай черный,3,403.10,15
29789,29789,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,2003,Яблоки 'Белый налив',1,36.64,20
29790,29790,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,2007,Кофе молотый,1,227.93,0

In [4]:
df.describe()

,Unnamed: 0,НомерЧека,НомерКассы,НомерАртикула,Количество,Сумма (руб),Скидка (%)
count,29791.000000,29791.000000,29791.000000,29791.000000,29791.000000,29791.000000,29791.000000
mean,14895.000000,104988.953409,5.516196,2010.303414,2.100366,173.966837,3.758014
std,8600.065271,2881.843055,2.864853,5.841077,2.112193,179.117143,6.502889
min,0.000000,100001.000000,1.000000,2001.000000,1.000000,11.930000,0.000000
25%,7447.500000,102491.000000,3.000000,2005.000000,1.000000,65.690000,0.000000
50%,14895.000000,104968.000000,6.000000,2010.000000,1.000000,118.110000,0.000000
75%,22342.500000,107489.000000,8.000000,2015.000000,2.000000,223.175000,5.000000
max,29790.000000,110000.000000,10.000000,2020.000000,23.000000,2080.260000,20.000000

In [5]:
for column in df.columns:
    print('Column:', column)
    print('Количество', df[column].nunique()),
    print('---' * 10)

Column: Unnamed: 0
Количество 29791
------------------------------
Column: Организация
Количество 1
------------------------------
Column: ВремяЧека
Количество 366
------------------------------
Column: НомерЧека
Количество 10000
------------------------------
Column: НомерКассы
Количество 10
------------------------------
Column: НомерТранзакции
Количество 10000
------------------------------
Column: Кассир
Количество 50
------------------------------
Column: НомерАртикула
Количество 20
------------------------------
Column: Товар
Количество 20
------------------------------
Column: Количество
Количество 22
------------------------------
Column: Сумма (руб)
Количество 18939
------------------------------
Column: Скидка (%)
Количество 5
------------------------------

In [6]:
df.isnull().sum()

Unnamed: 0         0
Организация        0
ВремяЧека          0
НомерЧека          0
НомерКассы         0
НомерТранзакции    0
Кассир             0
НомерАртикула      0
Товар              0
Количество         0
Сумма (руб)        0
Скидка (%)         0
dtype: int64

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29791 entries, 0 to 29790
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Организация      29791 non-null  object
 1   ВремяЧека        29791 non-null  object
 2   НомерЧека        29791 non-null  int64
 3   НомерКассы       29791 non-null  int64
 4   НомерТранзакции  29791 non-null  object
 5   Кассир           29791 non-null  object
 6   НомерАртикула    29791 non-null  int64
 7   Товар            29791 non-null  object
 8   Количество       29791 non-null  int64
 9   Сумма (руб)      29791 non-null  float64
 10  Скидка (%)       29791 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 2.5+ MB

In [9]:
df['ВремяЧека'] = pd.to_datetime(df['ВремяЧека'])
df['НомерАртикула'] = df['НомерАртикула'].apply(lambda x: f"{x:05}")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29791 entries, 0 to 29790
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Организация      29791 non-null  object
 1   ВремяЧека        29791 non-null  datetime64[ns]
 2   НомерЧека        29791 non-null  int64
 3   НомерКассы       29791 non-null  int64
 4   НомерТранзакции  29791 non-null  object
 5   Кассир           29791 non-null  object
 6   НомерАртикула    29791 non-null  object
 7   Товар            29791 non-null  object
 8   Количество       29791 non-null  int64
 9   Сумма (руб)      29791 non-null  float64
 10  Скидка (%)       29791 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 2.5+ MB

In [11]:
df = df.rename(columns={'ВремяЧека': 'ДатаЧека'})

In [12]:
duplicates = df.duplicated()
duplicates.sum()

0

In [13]:
df

,Организация,ДатаЧека,НомерЧека,НомерКассы,НомерТранзакции,Кассир,НомерАртикула,Товар,Количество,Сумма (руб),Скидка (%)
0,"Супермаркет ""РосМаг""",2024-01-01,102935,4,T002935,Белозеров Порфирий Гавриилович,02009,Сок апельсиновый,1,98.23,0
1,"Супермаркет ""РосМаг""",2024-01-01,102935,4,T002935,Белозеров Порфирий Гавриилович,02005,Сыр 'Российский',1,283.51,0
2,"Супермаркет ""РосМаг""",2024-01-01,109982,3,T009982,Кира Кузьминична Никитина,02001,Молоко 'Домик в деревне',1,50.50,15
3,"Супермаркет ""РосМаг""",2024-01-01,109982,3,T009982,Кира Кузьминична Никитина,02003,Яблоки 'Белый налив',1,66.50,0
4,"Супермаркет ""РосМаг""",2024-01-01,106511,4,T006511,Громов Василий Фокич,02012,Картофель,7,310.03,0
...,...,...,...,...,...,...,...,...,...,...,...
29786,"Супермаркет ""РосМаг""",2024-12-31,100269,5,T000269,Таисия Юрьевна Исаева,02005,Сыр 'Российский',2,608.22,0
29787,"Супермаркет ""РосМаг""",2024-12-31,100269,5,T000269,Таисия Юрьевна Исаева,02012,Картофель,7,278.04,0
29788,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,02008,Чай черный,3,403.10,15
29789,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,02003,Яблоки 'Белый налив',1,36.64,20
29790,"Супермаркет ""РосМаг""",2024-12-31,101595,9,T001595,Нинель Робертовна Калашникова,02007,Кофе молотый,1,227.93,0

In [15]:
df.to_csv('supermarket_data_cleaned.csv', index=False)

---